body {
    font-family: 微軟正黑體;
    font-size: 15px;
    overflow-x: hidden;
}

.main-color {
    background-color: #0963c7;
}

a:hover {
    text-decoration: none;
}

.center-div {
    margin: 0 auto;
}

.top-5 {
    margin-top: 5px;
}

.top-10 {
    margin-top: 10px;
}

.top-20 {
    margin-top: 20px !important;
}

.top-30 {
    margin-top: 30px;
}

.top-40 {
    margin-top: 40px;
}

.top-60 {
    margin-top: 60px;
}

.top-80 {
    margin-top: 80px;
}

.top-100 {
    margin-top: 100px;
}

.no-padding {
    padding: 0;
}

.blur {
    width: 100%;
    height: 1024px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    opacity: 0.8;
    background-color: #fff;
}

.bottom-40 {
    margin-bottom: 40px;
}

.pointer {
    cursor: pointer;
}

.white-text {
    color: white;
}

.white-text:hover {
    color: white;
}

.gray-text {
    color: #47505a;
}

.course-title {
    font-size: 18px;
    color: #47505a;
}

.navbar {
    padding: 0 1rem;
    min-height: 60px;
    background-image: linear-gradient(93deg, #6652b5, #4f9be1);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.modal-content {
    border-radius: 20px;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.16);
}

.modal-header {
    border-bottom: 0;
    padding: 1rem 2rem 0.5rem;
}

.modal-body {
    padding: 0 2rem 2rem;
}

.modal-tag {
    margin: 3px 0 0 10px;
    width: 64px;
    height: 24px;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(111deg, #6652b5, #4f9be1);
    padding: 3px 12px 3px 13px;
}

.text-block {
    line-height: 180%;
}

.gray-block {
    max-width: 1027px;
    margin: 40px auto 0 auto;
    border-radius: 19px;
    background-color: #f7f7f7;
}

.sub-title {
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #47505a;
}

.purple-title {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6652b5;
}

.purple-datetime {
    margin: 10px auto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: center;
    color: #781b80;
}

.banner-title {
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.banner-row {
    margin: 40px auto 0;
}

.banner-item {
    width: 33.33%;
    float: left;
    font-size: 18px;
}

.banner-price-title {
    color: #ffefa4;
    font-weight: 600;
}

.banner-price {
    margin-top: 10px;
}

.speaker-item {
    width: 20%;
    flex: 0 0 20%;
    float: left;
    padding: 10px;
}

.speaker-corp {
    font-weight: 600;
    color: #3f478a;
}

.speaker-img, .speaker-img img {
    width: 130px;
    margin: 0 auto;
}

.home-bg {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.home-bg .full-img {
    width: 100vw;
}

.home-join {
    position: relative;
}

.index-bottom-block {
    background: url(../images/index_bg2.png) no-repeat center center;
    background-size: cover;
}

.topic-card {
    padding: 40px 30px;
    width: 95%;
    margin: 0 auto;
    min-height: 510px;
    border-radius: 30px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}

.package-block {
    background-image: url(../images/package_bg.jpg);
    background-size: cover;
    padding-bottom: 40px;
}

.package-card {
    margin-top: 40px;
    padding: 30px 20px 25px;
    border-radius: 14px;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.package-card-tag {
    color: white;
    width: 80px;
    height: 32px;
    padding: 5px 17px 6px 18px;;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    top: -31px;
    left: -20px;
    background-image: linear-gradient(112deg, #6652b5, #4f9be1);
}

.package-btn {
    cursor: pointer;
    width: 200px;
    height: 36px;
    margin: 12px 369px 0 0;
    padding: 7px 17px 8px;
    border-radius: 30px;
    box-shadow: 0 20px 40px 0 rgba(220, 87, 106, 0.2);
    background-color: #dc576a;
}

.course-price {
    color: #dc576a;
    font-size: 22px;
}

.red-highlight {
    color: #dc576a;
}

.red-btn {
    cursor: pointer;
    text-align: center;
    color: white;
    margin: 14px 141px 0 0;
    border-radius: 30px;
    box-shadow: 0 20px 40px 0 rgba(220, 87, 106, 0.2);
    background-image: linear-gradient(102deg, #b71aba, #d76060);
}

.purple-btn {
    cursor: pointer;
    text-align: center;
    color: white;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.86);
    background-color: #6652b5;
    line-height: 30px;
}

.purple-small-btn {
    width: 90px;
    margin: 20px auto 0;
    padding: 8px 10px 7px;
    border-radius: 30px;
    border: solid 1px #6e40c8;
    background-color: #6652b5;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: white;
}

.purple-border-btn {
    width: 90px;
    margin: 20px auto 0;
    padding: 8px 10px 7px;
    border-radius: 30px;
    border: solid 1px #6e40c8;
    color: #6652b5;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.red-border-btn-hover:hover {
    background-color: #dc576a !important;
    color: white !important;
}

.golden-btn {
    text-align: center;
    min-width: 100%;
    width: 100%;
    font-size: 22px;
    padding: 5% 2%;
    color: white;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(113deg, #b36a30, #f1d59d);
    margin: 0 auto;
    cursor: pointer;
}

.footer {
    padding-bottom: 20px;
    background-image: linear-gradient(99deg, #6652b5, #4f9be1);
}

.try-block {
    background: url(../images/trial_bg.jpg) no-repeat top left;
    padding-bottom: 40px;
}

.modal-dialog {
    max-width: 900px;
}

.tip-text {
    height: 40px;
    font-family: PingFangTC;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fce3aa;
}

.cow-card {
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.cow-card:hover {
    top: -10px;
}

.pen-text {
    position: relative;
    width: 10px;
    top: -288px;
    left: 5px;
}

.toss-text {
    font-size: 80%;
}

.good-text {
    position: relative;
    width: 10px;
    top: -400px;
    left: 135px;
    line-height: 120%;
}

.bad-text {
    position: relative;
    width: 10px;
    top: -552px;
    left: 95px;
    line-height: 120%;
}

.res-detail {
    position: relative;
    width: 126px;
    top: -564px;
    left: 33px;
    line-height: 120%;
    text-align: left;
    font-size: 80%;
}

.banner-block {
    background-size: cover;
}

.sep {
    width: 60px;
    height: 1px;
    margin: 20px auto;
    background-color: #781b80;
}

.blue-text {
    color: #21365f;
    font-weight: bold;
}

.award-block {
    padding-bottom: 20px;
}

.tiles {
  width: 100%;
}

.carousel-inner{
  width:100%;
  max-width: 1366px !important;
}

.conference-block {
    padding: 20px;
}

.header-block {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.conference-time-table {
    background-color: #F5FBFD;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
}

.conference-time-table>div {
    padding: 8px;
}

.conference-time-table img {
    max-width: 120px;
}

@media (min-width: 374.98px) {
    .home-bg {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }

    .home-join {
        width: 120px;
        top: 235px;
    }

    .red-btn {
        font-size: 15px;
        width: 120px;
        height: 46px;
        padding: 7px 30px 8px;
    }

    .purple-btn {
        font-size: 15px;
        width: 120px;
        height: 46px;
        padding: 7px 30px 8px;
    }

    .gray-block {
        padding: 20px;
    }

    .header-block {
        background-image: url(../images/header_mobile.jpg?20210830);
        min-height: 240px;
    }

    .banner-block {
        background: url(../images/banner_mobile.jpg?20210830) no-repeat center center;
        background-size: cover;
    }

    .banner-row {
        width: 100%;
    }

    .banner-price {
        font-size: 32px;
    }

    .package-card {
        min-height: 300px;
    }

    .package-card-2 {
        min-height: 250px;
    }

    .package-text {
        min-height: 100px;
    }

    .package-text-2 {
        min-height: 100px;
    }

    .speaker-item {
        width: 50%;
        flex: 0 0 50%;
        min-height: 350px;
    }

    .speaker-item:last-child {
        margin: 0 auto;
        width: 210px;
        float: none;
    }

    .footer-right {
        text-align: left;
    }
}

@media (min-width: 413.98px) {
    .home-bg {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }

    .rwd-text {
        font-size: 10px !important;
    }

    .exam-bucket {
        width: 100%;
        position:absolute;
        bottom: 0;
        left: 10px;
    }

    .index-play-btn {
        position: relative;
        top: -100px;
        left: 115px;
        margin-bottom: -50px;
    }

    .header-block {
        background-image: url(../images/header_mobile.jpg?20210830);
        min-height: 320px;
    }
}

@media (min-width: 767.98px) {
    .home-bg {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }

    .home-join {
        width: 276px;
        top: 380px;
    }

    .red-btn {
        font-size: 24px;
        width: 276px;
        height: 60px;
        padding: 14px 90px 13px;
    }

    .purple-btn {
        font-size: 24px;
        width: 190px;
        height: 60px;
        padding: 14px 47px 13px;
    }

    .gray-block {
        padding: 33px 89px 33px 88px;
    }

    .header-block {
        background-image: url(../images/header_bg.jpg?20210830);
        min-height: 290px;
    }

    .banner-block {
        background: url(../images/banner.jpg?20210830) no-repeat center center;
        background-size: cover;
    }

    .banner-row {
        width: 100%;
    }

    .banner-price {
        font-size: 52px;
    }

    .package-card {
        min-height: 400px;
    }

    .package-card-2 {
        min-height: 350px;
    }

    .package-text {
        min-height: 150px;
    }

    .package-text-2 {
        min-height: 90px;
    }

    .speaker-item {
        width: 20%;
        flex: 0 0 20%;
        min-height: 350px;
    }

    .speaker-item:last-child {
        width: 20%;
        float: left;
    }

    .footer-right {
        text-align: right;
    }
}

@media (min-width: 1023.98px) {
    .header-block {
        background-image: url(../images/header_bg.jpg?20210830);
        min-height: 500px;
    }

    .package-card-2 {
        min-height: 315px;
    }

    .package-text-2 {
        min-height: 70px;
    }
}