body {
    font-family: 微軟正黑體;
}

.main-color {
    background-color: #0963c7;
}

a:hover {
    text-decoration: none;
}

.center-div {
    margin: 0 auto;
}

.top-5 {
    margin-top: 5px;
}

.top-10 {
    margin-top: 10px;
}

.top-20 {
    margin-top: 20px;
}

.top-40 {
    margin-top: 40px;
}

.top-60 {
    margin-top: 60px;
}

.top-80 {
    margin-top: 80px;
}

.top-100 {
    margin-top: 100px;
}

.bottom-40 {
    margin-bottom: 40px;
}

.pointer {
    cursor: pointer;
}

.white-text {
    color: white;
}

.white-text:hover {
    color: white;
}

.gray-text {
    color: #47505a;
}

.red-text {
    color: #dc576a;
}

.text-block {
    line-height: 180%;
}

.home-bg {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.home-bg .full-img {
    width: 100vw;
}

.index-bottom-block {
    background: url(../images/index_bg2.png) no-repeat center center;
    background-size: cover;
}

.topic-card {
    padding: 40px 30px;
    width: 95%;
    margin: 0 auto;
    min-height: 510px;
    border-radius: 30px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
}

.package-block {
    background-image: url(../images/package_bg.jpg);
    background-size: cover;
    padding-bottom: 40px;
}

.package-card {
    min-height: 445px !important;
    margin-top: 40px;
    min-height: 400px;
    padding: 30px 20px 45px;
    border-radius: 22px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.package-btn {
    cursor: pointer;
    width: 200px;
    height: 36px;
    margin: 12px 369px 0 0;
    padding: 7px 17px 8px;
    border-radius: 30px;
    box-shadow: 0 20px 40px 0 rgba(220, 87, 106, 0.2);
    background-color: #dc576a;
}

.course-price {
    color: #dc576a;
    font-size: 22px;
}

.red-highlight {
    color: #dc576a;
}

.red-small-btn {
    cursor: pointer;
    text-align: center;
    color: white;
    width: 130px;
    height: 36px;
    margin: 14px 141px 0 0;
    padding: 6px 11px 8px;
    border-radius: 30px;
    box-shadow: 0 20px 40px 0 rgba(220, 87, 106, 0.2);
    background-color: #dc576a;
}

.red-border-btn {
    width: 140px;
    margin: 20px auto 0;
    padding: 5px 12px 5px;
    border-radius: 30px;
    border: solid 1px #dc576a;
    color: #dc576a;
    text-align: center;
    cursor: pointer;
}

.red-border-btn-hover:hover {
    background-color: #dc576a !important;
    color: white !important;
}

.golden-btn {
    text-align: center;
    min-width: 100%;
    width: 100%;
    font-size: 22px;
    padding: 5% 2%;
    color: white;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(113deg, #b36a30, #f1d59d);
    margin: 0 auto;
    cursor: pointer;
}

.footer {
    padding-bottom: 20px;
    background-color: #0963c7;
}

.try-block {
    background: url(../images/trial_bg.jpg) no-repeat top left;
    padding-bottom: 40px;
}

.modal-dialog {
    max-width: 900px;
}

.modal-body {
    padding: 1rem 1rem 2rem;
}

.tip-text {
    height: 40px;
    font-family: PingFangTC;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fce3aa;
}

.cow-card {
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.cow-card:hover {
    top: -10px;
}

.pen-text {
    position: relative;
    width: 10px;
    top: -288px;
    left: 5px;
}

.toss-text {
    font-size: 80%;
}

.good-text {
    position: relative;
    width: 10px;
    top: -400px;
    left: 135px;
    line-height: 120%;
}

.bad-text {
    position: relative;
    width: 10px;
    top: -552px;
    left: 95px;
    line-height: 120%;
}

.res-detail {
    position: relative;
    width: 126px;
    top: -564px;
    left: 33px;
    line-height: 120%;
    text-align: left;
    font-size: 80%;
}

.join-header-block {
    background: url(../images/join/header_bg.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 40px;
}

.join-header-text {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.join-block {
    background: url(../images/join/bg.jpg) no-repeat center center;
    background-size: cover;
    padding-bottom: 40px;
}

.blue-text {
    color: #21365f;
    font-weight: bold;
}

.award-block {
    padding-bottom: 20px;
}

.tiles {
  width: 100%;
}

.carousel-inner{
  width:100%;
  max-width: 1366px !important;
}

.conference-block {
    padding: 20px;
}

.conference-header-block {
    background-image: url(../images/conference/header_mobile.jpg?20210504);
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 110px;
    background-size: contain;
}

.conference-time-table {
    background-color: #F5FBFD;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
}

.conference-time-table>div {
    padding: 8px;
}

.conference-time-table img {
    max-width: 120px;
}

@media (min-width: 374.98px) {
    .home-bg {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }

    .rwd-text {
        font-size: 10px !important;
    }

    .exam-bucket {
        width: 100%;
        position:absolute;
        bottom: 0;
        left: 10px;
    }

    .index-play-btn {
        position: relative;
        top: -100px;
        left: 100px;
        margin-bottom: -50px;
    }

    .conference-header-block {
        background-image: url(../images/conference/header_mobile.jpg?20210504);
        min-height: 240px;
    }
}

@media (min-width: 413.98px) {
    .home-bg {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }

    .rwd-text {
        font-size: 10px !important;
    }

    .exam-bucket {
        width: 100%;
        position:absolute;
        bottom: 0;
        left: 10px;
    }

    .index-play-btn {
        position: relative;
        top: -100px;
        left: 115px;
        margin-bottom: -50px;
    }

    .conference-header-block {
        background-image: url(../images/conference/header_mobile.jpg?20210504);
        min-height: 240px;
    }
}

@media (min-width: 767.98px) {
    .home-bg {
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }

    .exam-bucket {
        width: 300%;
        position:absolute;
        bottom: 0;
        left: 10px;
    }

    .rwd-text {
        font-size: 22px !important;
    }

    .navbar {
        padding: 0 1rem;
        height: 62px;
    }

    .navbar-brand {
        font-size: 22px;
    }

    .nav-item {
        height: 50px;
        font-size: 15px;
        padding: 12px 10px;
    }

    .nav-item.active {
        height: 70px;
        background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0.4), rgba(255, 255, 255, 0));
    }

    .navbar-nav {
        margin-top: -24px;
        margin-bottom: -24px;
        height: 62px;
    }

    .index-play-btn {
        position: absolute;
        top: 300px; left: 50%;
        transform: translate(-50%, -65%);
    }

    .conference-header-block {
        background-image: url(../images/conference/header_bg.jpg?20210504);
        min-height: 290px;
    }
}

@media (min-width: 1023.98px) {
    .conference-header-block {
        background-image: url(../images/conference/header_bg.jpg?20210504);
        min-height: 440px;
    }

}